app/bootstrap.php.cache
app/bootstrap_cache.php.cache
app/phpunit.xml
app/cache/*
app/logs/*
app/config/parameters.ini

vendor/*

web/bundles/*
web/uploads/*
web/css/*
web/js/*

#Si trabajamos con netbeans quitamos el directorio de proyecto
nbproject/
#Si trabajamos con emacs
*~
#Si trabajamos con vim
*.swp
